@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="checkbox"] {
    width: 14px !important;
    height: 14px !important;
    margin: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-shadow: none;
    font-size: 0.6em;
    text-align: center;
    line-height: 1em;
    background: #d9d9d9;
    color: #fff;
  }

  input[type="checkbox"]:checked:after {
    content: "✔";
    color: white;
  }
}

@layer components {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .auto-slider {
    position: relative;
    overflow: hidden;
    height: 18em;
    /* height: auto; */
  }
  .auto-slider > * {
    position: absolute;
    left: 100%;
    right: 0;
    animation: 15s autoplay infinite ease-in-out;
  }
  @keyframes autoplay {
    0% {
      left: 100%;
    }
    4% {
      left: 0%;
    }
    16.33% {
      left: 0%;
    }
    22.33% {
      left: 0%;
    }
    25.33% {
      left: -100%;
    }
    100% {
      left: -100%;
    }
  }
  .auto-slider > *:nth-child(1) {
    animation-delay: 0s;
  }
  .auto-slider > *:nth-child(2) {
    animation-delay: 3s;
  }
  .auto-slider > *:nth-child(3) {
    animation-delay: 6s;
  }
  .auto-slider > *:nth-child(4) {
    animation-delay: 9s;
  }
  .auto-slider > *:nth-child(5) {
    animation-delay: 12s;
  }
  .auto-change-1 {
    opacity: 0;
    animation: 12s change infinite ease-in-out;
    animation-delay: 0s;
  }
  .auto-change-2 {
    animation: 12s change infinite ease-in-out;
    animation-delay: 4s;
  }
  .auto-change-3 {
    animation: 12s change infinite ease-in-out;
    animation-delay: 8s;
  }
  @keyframes change {
    0% {
      opacity: 0.5;
    }
    5% {
      opacity: 1;
    }
    30% {
      opacity: 0.5;
    }
    35% {
      opacity: 0.2;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
